.article img {
  max-width: 200px;
  display: block;
}

.project {
  display: grid;
  gap: 0.25em;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr auto;
}

.name {
  font-weight: bold;
}

.dates {
  font-style: italic;
  color: #999;
  font-size: 0.9em;
  font-family: sans-serif;
}
