.title {
  font-variant: small-caps;
}

.banner {
  max-width: 150px;
  width: 100%;
  margin-right: 1em;
}

.header {
  color: var(--material-gray--900);
  padding: 1em 2em;
}

.withBanner {
  background-color: #4527a0;
  padding-bottom: 2em;
}

.withBanner > div {
  align-items: center;
  display: flex;
}

.withBanner .title {
  font-size: 3em;
  color: #eee;
  margin-left: 1rem;
  font-variant: small-caps;
}

.footer {
  background-color: #111;
  color: white;
  padding: 2em 1em;
}

.footer a {
  color: inherit;
}

.socialButtons {
  display: flex;
}

.socialButtons svg {
  width: 2em;
}

.socialButtons a,
.socialButtons a:visited {
  color: white;
  display: block;
  opacity: 0.5;
  transition: 0.2s opacity ease-in-out;
}

.socialButtons a:not(:last-child) {
  margin-right: 0.5em;
}

.socialButtons a:hover {
  opacity: 1;
}

@media all and (min-width: 960px) {
  .withBanner .title {
    font-size: 4em;
  }
}
