.member .memberHeader {
  grid-area: header;
}

.member .memberMedia {
  display: flex;
  grid-area: media;
  justify-content: center;
}

.member .memberMedia img {
  aspect-ratio: 1;
  border-radius: 50%;
  max-height: 200px;
  max-width: 200px;
  object-fit: cover;
  width: 100%;
}

.member .memberContent {
  grid-area: content;
}

.member.medicine {
  background-image: linear-gradient(
    45deg,
    transparent 95%,
    var(--medicine) 95%
  );
}

.member.cial {
  background-image: linear-gradient(45deg, transparent 95%, var(--cial) 95%);
}

@media all and (min-width: 640px) {
  .member {
    display: grid;
    grid-template-areas: "media header" "media content";
    grid-template-columns: auto 1fr;
  }

  .member .memberHeader {
    padding-bottom: 0;
  }

  .member .memberMedia {
    display: block;
    padding: 1em 0 1em 1em;
  }

  .member .memberMedia img {
    max-height: 100px;
    max-width: 100px;
  }
}
