.member .memberHeader {
  grid-area: header;
}

.member .memberMedia {
  display: flex;
  justify-content: center;
  grid-area: media;
}

.member .memberMedia img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
  width: 100%;
}

.member .memberContent {
  grid-area: content;
}

@media all and (min-width: 640px) {
  .member {
    display: grid;
    grid-template-areas: "media header" "media content";
    grid-template-columns: auto 1fr;
  }

  .member .memberHeader {
    padding-bottom: 0;
  }

  .member .memberMedia {
    display: block;
    padding: 1em 0 1em 1em;
  }

  .member .memberMedia img {
    max-height: 100px;
    max-width: 100px;
  }
}
