.profileWithImage {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 1fr;
}

.profile + .profile {
  margin-top: 1em;
}

.name {
  font-weight: bold;
}

.image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.position {
  font-style: italic;
}
