.nav .logo a,
.nav .logo svg {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  font-size: 1.25em;
}

.logo svg {
  color: #66bb6a;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav a {
  color: inherit;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
}

.nav a:not(:last-child) {
  margin-right: 1em;
}

.links {
  display: flex;
}

.links a {
  letter-spacing: 0.5px;
}

.links a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}
