.nav {
  display: flex;
  justify-content: space-between;
}

.nav a {
  color: inherit;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
}

.links {
  display: flex;
}

@media screen and (min-width: 960px) {
  .nav {
    flex-direction: row;
  }

  .nav a:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1em;
  }
}
