.iconButton {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.25);
  border: 2px solid white;
}

.iconButton svg {
  color: white;
}

.topButton {
  bottom: 3em;
  display: none;
  position: fixed;
  right: 3em;
}

.show {
  display: block;
}

@media print {
  .topButton {
    display: none;
  }
}
