.nav .logo a,
.nav .logo svg {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--material-green-500);
}

.logo svg {
  color: var(--material-green-500);
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav a {
  color: inherit;
  display: block;
  text-decoration: none;
  font-family: Roboto;
  font-weight: bold;
}

.links a {
  letter-spacing: 0.5px;
  padding: 1em;
}

.links a + a {
  border-top: 1px solid lightgray;
}

.links a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.icon {
  cursor: pointer;
}

.icon svg {
  display: block;
  width: 2em;
}

.hide {
  display: none;
}

.menu {
  position: relative;
}

.links {
  grid-column: span 2;
}

.icon {
  justify-self: end;
}

@media all and (min-width: 960px) {
  .icon {
    display: none;
  }

  .links {
    display: flex;
    justify-self: end;
    grid-column: initial;
  }

  .links a {
    padding: 0;
  }

  .links a + a {
    border-top: none;
  }

  .nav a:not(:last-child) {
    margin-right: 1em;
  }
}
