.nav {
  align-items: center;
  flex-direction: row;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
}

.icon svg {
  display: block;
  width: 2em;
}

.hide {
  display: none;
}

.menu {
  position: relative;
}

.icon {
  justify-self: end;
}

@media all and (min-width: 960px) {
  .icon {
    display: none;
  }

  .links {
    display: flex;
    grid-column: initial;
    justify-self: end;
  }

  .links a + a {
    border-top: none;
  }

  .nav a:not(:last-child) {
    margin-right: 1em;
  }
}
