/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/navbar/navbar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.navbar_nav__uDQKs .navbar_logo__uZP7g a,
.navbar_nav__uDQKs .navbar_logo__uZP7g svg {
  display: inline-block;
  vertical-align: middle;
}

.navbar_logo__uZP7g {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--material-green-500);
}

.navbar_logo__uZP7g svg {
  color: var(--material-green-500);
}

.navbar_nav__uDQKs {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navbar_nav__uDQKs a {
  color: inherit;
  display: block;
  text-decoration: none;
  font-family: Roboto;
  font-weight: bold;
}

.navbar_links__zwFDW a {
  letter-spacing: 0.5px;
  padding: 1em;
}

.navbar_links__zwFDW a + a {
  border-top: 1px solid lightgray;
}

.navbar_links__zwFDW a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.navbar_icon__yH_z8 {
  cursor: pointer;
}

.navbar_icon__yH_z8 svg {
  display: block;
  width: 2em;
}

.navbar_hide__8rDho {
  display: none;
}

.navbar_menu__tLXce {
  position: relative;
}

.navbar_links__zwFDW {
  grid-column: span 2;
}

.navbar_icon__yH_z8 {
  justify-self: end;
}

@media all and (min-width: 960px) {
  .navbar_icon__yH_z8 {
    display: none;
  }

  .navbar_links__zwFDW {
    display: flex;
    justify-self: end;
    grid-column: initial;
  }

  .navbar_links__zwFDW a {
    padding: 0;
  }

  .navbar_links__zwFDW a + a {
    border-top: none;
  }

  .navbar_nav__uDQKs a:not(:last-child) {
    margin-right: 1em;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/ui/typography/typography.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.typography_typography__48voD {
  font-size: 0.9rem;
  font-family: RobotoSerif;
  font-weight: 300;
  line-height: 1.3;
}

.typography_h1__CY4gA,
.typography_h2__0KMgJ,
.typography_h3__R4Pea,
.typography_h4__iywtD,
.typography_h5__FdoJr,
.typography_h6__sW4Yo {
  font-family: Roboto;
  font-weight: bold;
  margin: 0;
}

.typography_h1__CY4gA {
  font-size: 2.5rem;
}

.typography_h2__0KMgJ {
  font-size: 1.5rem;
}

.typography_h3__R4Pea {
  font-size: 1.25rem;
}

.typography_secondary__Zs3Z8 {
  color: #999;
  font-size: 0.9em;
  font-family: sans-serif;
}

p.typography_typography__48voD:not(:last-of-type) {
  margin-bottom: 1em;
}

.typography_body2__qAgtO {
  color: var(--material-gray-300);
  font-family: Roboto;
  font-weight: 400;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/ui/accordion/accordion.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.accordion_accordion__Hvd2K {
  background: white;
  border-radius: 0.125rem;
  box-shadow: 0.125em 0.125em 0 0 lightgray;
}

.accordion_accordion__Hvd2K + .accordion_accordion__Hvd2K {
  margin-top: 1em;
}

.accordion_title__wr3Az {
  font-size: 1rem;
  padding: 1em;
  cursor: pointer;
}

.accordion_show__rz9hp .accordion_title__wr3Az::before {
  content: "–";
}

.accordion_title__wr3Az::before {
  content: "+";
  width: 1em;
  display: inline-block;
  text-align: center;
  margin-right: 0.1em;
}

.accordion_show__rz9hp .accordion_title__wr3Az {
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5em;
}

.accordion_hide__7YFgz .accordion_details__ULGDp {
  display: none;
}

.accordion_details__ULGDp {
  padding: 1em;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/ui/container/container.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.container_container__dHVL_ {
  padding: 1em;
}

.container_content__3To9B {
  width: calc(100vw - 2em);
}

@media all and (min-width: 960px) {
  .container_content__3To9B {
    margin: auto;
    max-width: 960px;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/ui/link/link.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.link_link__uYMps,
.link_link__uYMps:visited {
  color: var(--material-blue--500);
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/layout/layout.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.layout_title__anKV_ {
  font-feature-settings: "smcp";
  font-variant: small-caps;
}

.layout_banner__bjA1h {
  margin-right: 1em;
  max-width: 150px;
  width: 100%;
}

.layout_header__zPv8C {
  color: var(--material-gray--900);
  padding: 1em;
}

.layout_withBanner__qc2kQ {
  background-color: #4527a0;
  padding-bottom: 2em;
}

.layout_withBanner__qc2kQ > div {
  align-items: center;
  display: flex;
}

.layout_withBanner__qc2kQ .layout_title__anKV_ {
  color: #eee;
  font-size: 3em;
  font-feature-settings: "smcp";
  font-variant: small-caps;
  margin-left: 1rem;
}

.layout_footer__1WkYo {
  background-color: #111;
  color: white;
  padding: 2em 1em;
}

.layout_footer__1WkYo a {
  color: inherit;
}

.layout_socialButtons__1Zvio {
  display: flex;
}

.layout_socialButtons__1Zvio svg {
  width: 2em;
}

.layout_socialButtons__1Zvio a,
.layout_socialButtons__1Zvio a:visited {
  color: white;
  display: block;
  opacity: 0.5;
  transition: 0.2s opacity ease-in-out;
}

.layout_socialButtons__1Zvio a:not(:last-child) {
  margin-right: 0.5em;
}

.layout_socialButtons__1Zvio a:hover {
  opacity: 1;
}

@media all and (min-width: 960px) {
  .layout_withBanner__qc2kQ .layout_title__anKV_ {
    font-size: 4em;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/grid/grid.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.grid_grid__0qxT_ {
  display: grid;
  grid-gap: 1em;
  gap: 1em;
}

@media all and (min-width: 960px) {
  .grid_grid__0qxT_ {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/grid-item/grid-item.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.grid-item_gridItem__Y2SJv {
  display: flex;
  flex-direction: column;
}

.grid-item_gridItem__Y2SJv > * {
  flex: 1 1;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/profile/profile.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.profile_member__Yp_yB .profile_memberHeader__E7Q8U {
  grid-area: header;
}

.profile_member__Yp_yB .profile_memberMedia__3uzVc {
  display: flex;
  grid-area: media;
  justify-content: center;
}

.profile_member__Yp_yB .profile_memberMedia__3uzVc img {
  aspect-ratio: 1;
  border-radius: 50%;
  max-height: 200px;
  max-width: 200px;
  object-fit: cover;
  width: 100%;
}

.profile_member__Yp_yB .profile_memberContent__rcTPA {
  grid-area: content;
}

.profile_member__Yp_yB.profile_medicine__WXADM {
  background-image: linear-gradient(
    45deg,
    transparent 95%,
    var(--medicine) 95%
  );
}

.profile_member__Yp_yB.profile_cial__I_bhB {
  background-image: linear-gradient(45deg, transparent 95%, var(--cial) 95%);
}

@media all and (min-width: 640px) {
  .profile_member__Yp_yB {
    display: grid;
    grid-template-areas: "media header" "media content";
    grid-template-columns: auto 1fr;
  }

  .profile_member__Yp_yB .profile_memberHeader__E7Q8U {
    padding-bottom: 0;
  }

  .profile_member__Yp_yB .profile_memberMedia__3uzVc {
    display: block;
    padding: 1em 0 1em 1em;
  }

  .profile_member__Yp_yB .profile_memberMedia__3uzVc img {
    max-height: 100px;
    max-width: 100px;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/ui/card-media/card-media.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.card-media_cardMedia__Qp1wK img,
.card-media_cardMedia__Qp1wK iframe {
  width: 100%;
  display: block;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/ui/card-header/card-header.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.card-header_cardHeader__DyASS {
  padding: 1em;
}

.card-header_title__fnW3t,
.card-header_subtitle__4Tt5b {
  display: block;
}

.card-header_title__fnW3t {
  font-weight: bold;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/ui/card-content/card-content.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.card-content_cardContent__bYJt_ {
  padding: 1em;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/ui/card/card.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.card_card__5bJ32 {
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0.125em 0.125em lightgray;
  overflow: hidden;
}

.card_medicina__h1ZBw {
  border-left: 1em solid var(--medicine);
}

.card_cial__z3Cp2 {
  border-left: 1em solid var(--cial);
}

.card_both__Lm2mz {
  border-left: 1em solid var(--medicine);
  position: relative;
}

.card_both__Lm2mz:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1em;
  width: 1em;
  height: 50%;
  background-color: var(--cial);
  border-bottom-left-radius: 0.5em;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/member/member.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
@media all and (min-width: 640px) {
  .member_medicine__czNbp {
    grid-column-start: 1;
  }

  .member_cial__2pj2G {
    grid-column-start: 2;
  }

  .member_1__rihAB {
    grid-row-start: 1;
  }

  .member_2__4Qr5t {
    grid-row-start: 2;
  }

  .member_3__sB2Jn {
    grid-row-start: 3;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/ui/list/list.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.list_list__gx9XI {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/ui/list-item-text/list-item-text.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.list-item-text_listItemText__VNB6Y {
  flex: 1 1;
}

.list-item-text_primary__Olb0_,
.list-item-text_secondary__3iXrT {
  display: block;
}

.list-item-text_primary__Olb0_ {
  font-weight: bold;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/ui/list-item/list-item.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.list-item_listItem__CZILG {
  display: flex;
}

.list-item_listItem__CZILG + .list-item_listItem__CZILG {
  margin-top: 1em;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/ui/list-item-avatar/list-item-avatar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.list-item-avatar_listItemAvatar__1a3XT {
  margin-right: 1em;
  width: 100px;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/ui/avatar/avatar.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.avatar_avatar__MRort {
  display: block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
}

.avatar_square__qLwB_ {
  border-radius: 0;
}

