.chip {
  width: 100px;
  border-radius: 1em;
  padding: 0.5em 1em;
  font-family: sans-serif;
  cursor: pointer;
  box-shadow: 0 0 0.125em 0.1em lightgray;
  font-weight: bold;
}

.chip:hover {
  box-shadow: 0 0 0.2em 0.1em dimgray;
}

.medicine {
  background-color: var(--medicine);
  color: white;
}

.cial {
  background-color: var(--cial);
  color: white;
}

.both {
  background: linear-gradient(45deg, var(--cial) 50%, var(--medicine) 50%);
  color: white;
}

.basic,
.basic:hover {
  box-shadow: unset;
  color: #aaa;
  font-style: italic;
  font-weight: normal;
}

.basic:hover {
  text-decoration: underline;
}
