:root {
  --cial: #2e3261;
  --material-blue--500: #1e88e5;
  --material-blue-gray--900: #263238;
  --material-deep-purple--800: #4527a0;
  --material-gray--900: #212121;
  --material-gray-300: #90a4ae;
  --material-gray-50: #fafafa;
  --material-green-100: #c8e6c9;
  --material-green-50: #e8f5e9;
  --material-green-500: #4caf50;
  --medicine: #efb410;
}

html,
body,
#__next {
  min-height: 100%;
}

main {
  flex: 1;
}

html {
  display: flex;
  overscroll-behavior: none;
}

body {
  background: radial-gradient(
      500px at top right,
      var(--material-green-100) 50%,
      var(--material-gray-50) 50%
    )
    no-repeat;
  flex: 1;
  margin: 0;
  width: 100%;
}

h2 {
  padding-bottom: 0.5rem;
}

h3 {
  font-family: sans-serif;
  font-weight: 400;
  padding-bottom: 0.25rem;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

iframe {
  border: none;
}

@media all and (min-width: 960px) {
  #__next {
    display: flex;
    flex-direction: column;
  }
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Lato-Thin.ttf");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/roboto/Lato-Black.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: "RobotoSerif";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/roboto-serif/RobotoSerif-Thin.ttf");
}

@font-face {
  font-family: "RobotoSerif";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/roboto-serif/RobotoSerif-Light.ttf");
}

@font-face {
  font-family: "RobotoSerif";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-serif/RobotoSerif-Regular.ttf");
}

@font-face {
  font-family: "RobotoSerif";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/roboto-serif/RobotoSerif-Bold.ttf");
}

@font-face {
  font-family: "RobotoSerif";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/roboto-serif/RobotoSerif-Black.ttf");
}

.slick-next::before,
.slick-prev::before {
  color: var(--material-green-500) !important;
}
